## SEED MAINTAINERS from Notary v1 product https://github.com/theupdateframework/notary/blob/master/MAINTAINERS
* @cyli @diogomonica @endophage @ecordell @hukeping @justincormack @nathanmccauley @riyazdf
